
h1 {
   color:  pink ;
}
p {
    color: white;
    background-color: blue;
}

body {
    background-color: blue;    
}

img {
    width:500px;
    height:400px;
}

h2 { color: white;
}

h3 { color: white;
    
}